.navbar {
  background-color: #272B31;
  display: flex;
  justify-content: space-between; /* Aligns both ul to opposite ends */
  padding: 10px;
  height: 100px; /* Ensuring there's enough vertical space */
}

.navbar-center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 275px;
}

.navbar-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 17px;
}

.main-links {
  flex-grow: 1;
  justify-content: center; /* Centers main navigation links */
  max-width: 100%; /* Adjusted to allow 100% usage within its container */
}

.navbar-item {
  margin-right: 70px; /* Equal spacing between links */
  padding: 10px; /* Padding to create the outline box effect */
  border: 1px solid transparent; /* Initial transparent border */
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .navbar-item {
    margin-bottom: 10px; /* Less margin for smaller screens */
  }
  .navbar-center {
    justify-content: center;
    margin-top: 10px;
  }
}

.navbar-item:last-child {
  margin-right: 5px; /* Ensure unit is specified */
}

.navbar-link {
  color: white;
  text-decoration: none;
  display: block; 
  padding: 10px; 
}

.navbar-link img {
  border: 2px solid white; /* A border to make it stand out */
  margin-left: 10px; /* Spacing between image and text */
}

.welcome-text {
  color: white; /* Ensure the text is visible */
  margin-right: 10px; /* Spacing between welcome text and logout button */
  font-size: 16px; 
}

.navbar-link:hover, .logout-button:hover, .login-button:hover {
  background-color: #68cdd486; /* Lighter shade of the original navbar color */
  border-radius: 20px;
}

.navbar-link.active {
  background-color: #007bff;
  border-radius: 10px;
}

.user-links {
  display: flex;
  justify-content: flex-end; /* Aligns user links to the right */
}

.logout-button, .login-button {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  padding: 10px; /* Ensure consistent padding with other navbar items */
  cursor: pointer;
}

.logout-button:hover, .login-button:hover {
  background-color: #68cdd486; /* Lighter shade matching other links */
  border-radius: 20px; /* Same border-radius for a consistent look */
}

.navbar-logo {
  height: 50px; 
  width: auto; 
  margin-right: 20px; 
  margin-left: 20px;
}